repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: ".*(data.*|extern.*|licenses.*|.*.fits)$"
      - id: trailing-whitespace
        exclude: ".*(data.*|extern.*|licenses.*|.*.fits)$"

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: ["--py37-plus"]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.11.0
    hooks:
      - id: black

  - repo: https://github.com/scientific-python/cookie
    rev: 2023.11.17
    hooks:
      - id: sp-repo-review

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ["--write-changes"]
        additional_dependencies:
          - tomli

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.5"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]

ci:
  autofix_prs: false
