name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      posargs: --openmp-expected=True
      coverage: codecov
      envs: |
        # Standard tests

        - linux: py310-test-oldestdeps
        - linux: py311-test
        - linux: py312-test
        - linux: py313-test
        - linux: py313-test-devdeps

        - macos: py312-test
          posargs: --openmp-expected=False
        - macos: py313-test-devdeps
          posargs: --openmp-expected=False

        - windows: py310-test
        - windows: py312-test-devdeps

        # Test with more compilers, for the OpenMP helpers
        - macos: py313-test-osxclang-conda
          runs-on: macos-14
          coverage: ''
        - linux: py310-test-linuxgcc-conda
          coverage: ''

        # Test downstream packages
        - linux: py313-downstream

  publish:
    needs: tests
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      test_extras: test
      test_command: pytest --pyargs extension_helpers
    secrets:
      pypi_token: ${{ secrets.PYPI_TOKEN }}
